{% extends 'base.html' %}

{% block titulo %}Criar Evento{% endblock %}

{% block body %}
<div class='page-container'>
  <div class='card-box'>
    <h2>Criar um novo Evento</h2>
    <form method='POST' action='{{ url_for("create_event") }}'>
      {{ form.hidden_tag() }}
      <div class='form-group'>
        {{ form.event_name.label }}
        {{ form.event_name(class='input-field', placeholder='Nome do evento') }}
      </div>
      <div class='form-group'>
        {{ form.event_date.label }}
        {{ form.event_date(class='input-field') }}
      </div>
      <div class='form-group'>
        {{ form.description.label }}
        {{ form.description(class='input-field', placeholder='Descrição do evento') }}
      </div>
      <button type='submit' class='btn btn-primary w-100'>Criar Evento</button>
    </form>
    <a href='{{ url_for("dashboard") }}' class='btn btn-secondary w-100'>Voltar ao Dashboard</a>
  </div>
</div>
{% endblock %}